<style>
    
            .center
            {   
                font-family: serif;
                text-align: center;
            }
            
            h4.demo
            {   
                font-family: serif;
                text-align: center;
            }
            
            h1.example
            {  
                background-color: darkgray;
                font-family: serif;
                text-align: center;
            }
            
            .color
            {
                background-color: aliceblue;
            }

           .bgimage 
            {
               height:90vh;
               background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREaIz6LJZ5tTYi6gWYJcMzBGcbxbyopFxHIA&usqp=CAU');
               opacity: 0.6;
               background-size:cover;
               position:relative;
            }
          
           .hero_title 
            {
              font-size: 4.5rem;
            }
            
           .hero_desc 
            {
              font-size: 2rem;
            }
           .hero-text 
            {
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: beige;
            }

            .enjoy
            {
                text-align: center;
                font-family: serif;
            }
        </style>
        
